*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #0bb0b3; }

.light-theme {
  background-color: #0bb0b3; }

.dark-theme {
  background-color: #083f40; }

.container {
  margin: 0 auto; }
  @media only screen and (min-width: 112.5em) {
    .container {
      max-width: 180rem; } }

@font-face {
  font-family: 'museomoderno';
  src: url("fonts/museomoderno-variablefont_wght-webfont.woff2") format("woff2"), url("fonts/museomoderno-variablefont_wght-webfont.woff") format("woff"), url("fonts/museomoderno-variablefont_wght-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "museomoderno", "MuseoModerno", sans-serif;
  font-size: 1.6rem; }

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: [header-start] 6rem [header-end nav-start] 6rem [main-start] 1fr [main-end] 6rem [nav-end];
  grid-template-columns: [header-start nav-start] 6rem [main-start] 1fr [main-end] 6rem [header-end nav-end]; }

.header {
  grid-column: header-start / header-end;
  grid-row: header-start / header-end;
  display: flex; }

.side-nav {
  grid-column: nav-start / nav-end;
  grid-row: nav-start / nav-end; }

.main {
  grid-column: main-start / main-end;
  grid-row: main-start / main-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; }
  @media only screen and (max-width: 37.5em) {
    .main {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }

@media only screen and (max-width: 37.5em) {
  .home-hero {
    grid-row: 1 / 2; } }

@media only screen and (max-width: 37.5em) {
  .section-welcome {
    grid-row: 2 / 3; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem; }

.settings {
  color: #087e80;
  list-style: none;
  display: flex; }
  .settings__item:not(:last-child) {
    margin-right: 1rem; }
  .settings__lang {
    cursor: pointer; }
    .settings__lang--active {
      color: #6bfcff; }
    .settings__lang:hover {
      color: #6bfcff; }
    .settings__lang:active {
      color: #087e80; }

.theme-icon {
  width: 1.6rem;
  cursor: pointer; }

.side-nav {
  list-style: none;
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
  grid-template-columns: 6rem 1fr 6rem; }
  .side-nav__item {
    display: flex;
    position: relative; }
    .side-nav__item--top {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      flex-direction: row-reverse;
      align-items: center;
      padding-right: 6rem; }
    .side-nav__item--right {
      grid-column: -2 / -1;
      grid-row: 2 / -1;
      flex-direction: column-reverse;
      align-items: flex-end; }
      .side-nav__item--right h3 {
        transform: rotate(90deg) translateX(-100%); }
    .side-nav__item--bottom {
      padding-left: 6rem;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      align-items: flex-start; }
    .side-nav__item--left {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      flex-direction: column;
      align-items: flex-end; }
      .side-nav__item--left h3 {
        transform-origin: bottom right;
        transform: rotate(-90deg) translateX(-1.6rem); }
  .side-nav__text {
    position: relative;
    z-index: 10; }
  .side-nav__text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 3px;
    background-color: #087e80;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    z-index: -1; }
  .side-nav__text:hover::before, .side-nav__text--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__text:active:before {
    background-color: #063233; }
  .side-nav__link {
    position: relative;
    text-decoration: none;
    color: #6bfcff;
    text-transform: uppercase;
    cursor: pointer; }

.logo-1 {
  cursor: pointer;
  height: auto;
  width: 13rem; }

.section-welcome {
  display: flex;
  justify-content: center;
  padding-right: 2%;
  flex-direction: column;
  align-items: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .section-welcome {
      justify-content: flex-start; } }

.welcome,
.side-nav,
.header {
  color: #6bfcff; }

.welcome {
  width: min-content;
  position: relative;
  transform: translateY(100%);
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr; }
  @media only screen and (max-width: 75em) {
    .welcome {
      transform: translateY(75%); } }
  @media only screen and (max-width: 37.5em) {
    .welcome {
      transform: translateY(20%); } }
  .welcome > * {
    display: block; }
  .welcome__heading {
    font-size: 8rem;
    font-weight: 800;
    line-height: .9;
    text-transform: uppercase;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 56.25em) {
      .welcome__heading {
        font-size: 7rem; } }
  .welcome__message {
    text-transform: uppercase;
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 56.25em) {
      .welcome__message {
        font-size: 1.4rem; } }
  .welcome__message-name {
    text-transform: lowercase; }
  .welcome__logo {
    position: absolute;
    bottom: -5%;
    left: -15%;
    width: 30%; }
    @media only screen and (max-width: 56.25em) {
      .welcome__logo {
        width: 25%; } }

.home-hero {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 37.5em) {
    .home-hero {
      display: flex;
      justify-content: flex-end; } }
  .home-hero > * {
    width: 70%;
    margin-left: 2%;
    position: absolute;
    transform: translateY(-50%); }
    @media only screen and (max-width: 75em) {
      .home-hero > * {
        width: 80%; } }
    @media only screen and (max-width: 56.25em) {
      .home-hero > * {
        width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .home-hero > * {
        width: 70%; } }
  .home-hero__logo {
    z-index: 3;
    top: 50%; }
  .home-hero__logo-shadow {
    z-index: 2;
    top: 53%;
    left: 2%; }
    @media only screen and (max-width: 37.5em) {
      .home-hero__logo-shadow {
        left: 31%; } }
