*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: $color-primary;
}

.light-theme {
  background-color: $color-primary;
}

.dark-theme {
  background-color: $color-secondary;
}

.container {
  margin: 0 auto;

  @include respond(big-desktop) {
    max-width: 180rem;
  }
}
