.logo-1 {
  cursor: pointer;
  height: auto;
  width: 13rem;
}

.section-welcome {
  display: flex;
  justify-content: center;
  padding-right: 2%;
  flex-direction: column;
  align-items: flex-end;

  @include respond(phone) {
    justify-content: flex-start;
  }
}

.welcome,
.side-nav,
.header {
  color: $color-primary-light;
}

.welcome {
  width: min-content;
  position: relative;
  transform: translateY(100%);
  
  @include respond(tab-land) {
    transform: translateY(75%);
  }

  @include respond(phone) {
    transform: translateY(20%);
  }
  
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;

  & > * {
    display: block;
  }

  &__heading {
    font-size: 8rem;
    font-weight: 800;
    line-height: .9;
    text-transform: uppercase;

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include respond(tab-port) {
      font-size: 7rem;
    }
  }

  &__message {
    text-transform: uppercase;
    
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include respond(tab-port) {
      font-size: 1.4rem;
    }
  }

  &__message-name {
    text-transform: lowercase;
  }

  &__logo {
    position: absolute;
    bottom: -5%;
    left: -15%;
    width: 30%;

    @include respond(tab-port) {
      width: 25%;
    }
  }
}

.home-hero {
  position: relative;
  z-index: 1;

  @include respond(phone) {
    display: flex;
    justify-content: flex-end;
  }

  & > * {
    width: 70%;
    margin-left: 2%;
    position: absolute;
    transform: translateY(-50%);

    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 70%;
    }
  }

  &__logo {
    z-index: 3;
    top: 50%;
  }

  &__logo-shadow {
    z-index: 2;
    top: 53%;
    left: 2%;

    @include respond(phone) {
      left: 31%;
    }
  }
}
